button, .button {
	border: 2px solid rgba(0,0,0,0);
	box-sizing: border-box;
	color: #FFF;
	outline: none;
	padding: 0.4em 1em;
	position: relative;
	transition: all 0.15s;

	&[disabled] {
		opacity: 0.5;
	}

	@each $pair in $color-list {
		&.#{nth($pair, 1)} {
			background-color: nth($pair, 2);
			color: contrasting-color(nth($pair, 2));

			&:hover, &:focus {
				border: 2px solid shade(nth($pair, 2), 25%);
			}
			&:active {
				background-color: shade(nth($pair, 2), 15%);
			}

			&[disabled] {
				&:hover, &:focus {
					border-color: nth($pair, 2);
					background-color: nth($pair, 2);
				}
			}
		}
	}

	&.white {
		background-color: $white;
		color: $black;

		&:hover, &:focus {
			border: 2px solid shade($white, 25%);
		}
		&:active {
			background-color: shade($white, 15%);
		}
		&[disabled] {
			&:hover, &:focus {
				border-color: $white;
				background-color: $white;
			}
		}
	}

	&.black {
		background-color: $black;
		color: $white;

		&:hover, &:focus {
			border: 2px solid tint($black, 25%);
		}
		&:active {
			background-color: tint($black, 15%);
		}
		&[disabled] {
			&:hover, &:focus {
				border-color: $black;
				background-color: $black;
			}
		}
	}
}