button, .button, .#{$picchu-prefix}button {
	border: none;
	box-sizing: border-box;
	outline: none;
	position: relative;
	padding: 0.55em 1.5em;
	transition: background-color 0.5s;
	line-height: 1.5;

	background-color: $theme-button-color;
	color: contrasting-color($theme-button-color);

	&:hover, &:focus {
		background-color: shade($theme-button-color, 20%);
		transition: background-color 0s;
	}
	&:active {
		background-color: shade($theme-button-color, 40%);
		transition: background-color 0s;
	}

	&[disabled] {
		&:hover, &:focus {
			background-color: tint($gray, 80%);
			color: tint($gray, 20%);
		}
	}

	&[disabled] {
		background-color: tint($gray, 80%);
		color: tint($gray, 20%);
	}

	&.secondary {
		background-color: $gray;
		color: $white;

		&:hover, &:focus {
			background-color: shade($gray, 20%);
		}
		&:active {
			background-color: shade($gray, 40%);
		}
	}

	&.large {
		@include font-title;
		line-height: 1.5;
	}
	&.small {
		@include font-body-alt;
		line-height: 1.5;
	}

	@each $pair in $color-list {
		&.#{nth($pair, 1)}-bgc {
			&:hover, &:focus {
				background-color: shade(nth($pair, 2), 20%);
			}
			&:active {
				background-color: shade(nth($pair, 2), 40%);
			}

			&[disabled] {
				&:hover, &:focus {
					background-color: tint($gray, 60%);
					color: tint($gray, 20%);
				}
			}
		}
	}

	&.white-bgc {
		color: $theme-button-color;

		&:hover, &:focus {
			background-color: tint($gray, 80%);
		}
		&:active {
			background-color: tint($gray, 60%);
		}
		&[disabled] {
			&:hover, &:focus {
				background-color: tint($gray, 60%);
				color: tint($gray, 20%);
			}
		}
	}

	&.black-bgc {
		&:hover, &:focus {
			background-color: tint($black, 20%);
		}
		&:active {
			background-color: tint($black, 40%);
		}
		&[disabled] {
			&:hover, &:focus {
				background-color: tint($gray, 60%);
				color: tint($gray, 20%);
			}
		}
	}
}