label.checkbox,
label.radio,
label.toggle {
    position: relative;
    display: inline-block;
    padding: 0.5em 0;

    .custom-control {
        display: inline-block;
        position: relative;
        border: 1px solid $gray;
        margin: 0 0.2em -0.3em 0;
        background-color: $white;
        font-size: 15px;
        user-select: none;
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    span {
        font-size: inherit;
    }
}

label.checkbox,
label.radio {

    .custom-control {
        width: 20px;
        height: 20px;
    }

    input:focus ~ .custom-control,
    input:active ~ .custom-control {
        border-color: $theme-form-element-color;
        box-shadow: 0 0 0 1px $theme-form-element-color;
    }

    input[disabled] ~ .custom-control,
    input[disabled]:active ~ .custom-control {
        border-color: tint($gray, 60%);
    }

    input[disabled]:active ~ .custom-control {
        box-shadow: none;
    }

    input[disabled] ~ span {
        color: tint($gray, 60%);
    }
}

label.checkbox {

    input {
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
    }

    input:checked ~ .custom-control {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Icon%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%201000%201000%22%20enable-background%3D%22new%200%200%201000%201000%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%232F2F2F%20!important%3B%20stroke%3A%20%232F2F2F!important%3B%20%7D%3C%2Fstyle%3E%3Cg%20id%3D%22checkmark_x5F_32%22%3E%20%3Cpolygon%20points%3D%22852.9%2C227.9%20375%2C705.8%20147.1%2C477.9%20102.9%2C522.1%20375%2C794.2%20897.1%2C272.1%20%20%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E'); 
    }

    input[disabled]:checked ~ .custom-control {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Icon%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%201000%201000%22%20enable-background%3D%22new%200%200%201000%201000%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%23c8c8c8%20!important%3B%20stroke%3A%20%23c8c8c8!important%3B%20%7D%3C%2Fstyle%3E%3Cg%20id%3D%22checkmark_x5F_32%22%3E%20%3Cpolygon%20points%3D%22852.9%2C227.9%20375%2C705.8%20147.1%2C477.9%20102.9%2C522.1%20375%2C794.2%20897.1%2C272.1%20%20%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    }

    &+ .checkbox {
        margin-left: 2em;
    }
}

label.radio {

    .custom-control {
        border-radius: 50%;
        position: relative;
    }

    input:checked ~ .custom-control {
        background-color: $text-color;
        box-shadow: inset 0 0 0 4px $white;
    }

    input:checked:focus ~ .custom-control {
        border-color: $theme-form-element-color;
        box-shadow: 0 0 0 1px $theme-form-element-color, inset 0 0 0 4px $white;
    }

    input[disabled]:checked ~ .custom-control,
    input[disabled]:checked:active ~ .custom-control {
        background-color: tint($gray, 60%);
        box-shadow: inset 0 0 0 4px $white;
    }

    &+ .radio {
        margin-left: 2em;
    }
}

label.toggle {
    .custom-control {
        width: 44px;
        height: 22px;
        border-radius: 1em;
        transition: background-color 0.2s;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -7px;
            left: 0.23em;
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $text-color;
            transition: left 0.5s;
        }
    }

    input:checked ~ .custom-control {
        background-color: $theme-form-element-color;
        border-color: $theme-form-element-color;

        &:before {
            background-color: $white;
            left: 1.65em;
        }
    }

    input:focus ~ .custom-control,
    input:active ~ .custom-control {
        border-color: $theme-form-element-color;
        box-shadow: 0 0 0 1px $theme-form-element-color;
    }

    input[disabled] ~ .custom-control {
        &:before {
            background-color: tint($gray, 60%);
        }
    }

    input[disabled] ~ .custom-control,
    input[disabled]:active ~ .custom-control {
        border-color: tint($gray, 60%);
    }

    input[disabled]:checked ~ .custom-control {
        background-color: tint($gray, 60%);

        &:before {
            background-color: $gray;
        }
    }

    input[disabled]:active ~ .custom-control {
        box-shadow: none;
    }

    input[disabled] ~ span {
        color: tint($gray, 60%);
    }
}

.no-css-checked,
.no-css-sibselector {
    
    label.checkbox,
    label.radio,
    label.toggle {
        .custom-control {
            display: none;
        }

        input {
            position: relative;
            opacity: 1;
            z-index: 0;
            margin-right: 0.25em;
        }
    }
}