button, .button {
	border: 2px solid rgba(0,0,0,0);
	box-sizing: border-box;
	color: #FFF;
	line-height: 1.3;
	outline: none;
	padding: 0.5em 1em;
	position: relative;
	transition: all 0.15s;

	@each $pair in $color-list {
		&.#{nth($pair, 1)} {
			background-color: nth($pair, 2);

			&:hover, &:focus {
				border: 2px solid shade(nth($pair, 2), 25%);
			}
			&:active {
				background-color: shade(nth($pair, 2), 15%);
			}
		}
	}
}