$vp1: 320px;
$vp2: 540px;
$vp3: 768px;
$vp4: 992px;
$vp5: 1400px;





//------------------------------------
//              #FONTS
//------------------------------------

@font-face {
    font-family: 'wf_segoe-ui_light';
    src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot");
    src: local("Segoe UI Light"), local("Segoe WP Light"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web") format("svg");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'wf_segoe-ui_normal';
    src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot");
    src: local("Segoe UI"), local("Segoe"), local("Segoe WP"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wf_segoe-ui_semibold';
    src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot');
    src: local("Segoe UI Semibold"), local("Segoe Semibold"), local("Segoe WP Semibold"), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot?#iefix') format('embedded-opentype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.woff') format('woff'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.ttf') format('truetype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'wf_segoe-ui_semilight';
    src:url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.eot");
    src:url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.eot?#iefix") format("embedded-opentype"),
    url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff"),
    url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.ttf") format("truetype"),
    url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.svg#web") format("svg");
    font-weight:normal;
    font-style: normal;
}

//Font variables
$light: wf_segoe-ui_light, Arial, sans-serif;
$semibold: wf_segoe-ui_semibold, Arial, sans-serif;
$regular: wf_segoe-ui_normal, Arial, sans-serif;
$semilight: wf_segoe-ui_semilight, Arial, sans-serif;

$font-stack: $regular, $light, Arial, sans-serif;
$font-stack-light: $light, $regular, Arial, sans-serif;

.light {
    font-family: $light;
}

.semilight {
    font-family: $semilight;
}

.normal, .regular {
    font-family: $regular;
}

.semibold, .bold, b {
    font-family: $semibold;
}

body {
    text-rendering: optimizeLegibility;
}

body, p, input, .body, div, span, li {
    font-family: $regular;
    line-height: 1.5;
}

a {
    color: shade($blue, nth($shade-list, 2));
    font-size: inherit;
    font-family: $normal;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

h1, h2, .headline {
  font-family: $light;
  font-weight: inherit;
}

h3, .h3, .title {
    font-family: $semilight;
    font-weight: inherit;
}

h4, .h4, .subtitle {
    font-family: $regular;
    font-weight: inherit;
}

.base, h5, .h5, h6, .h6 {
    font-family: $semibold;
    font-weight: inherit;
}

.headline {
    font-size: 62px;
    font-size: calc(62px + 0.15vw);
    letter-spacing: -0.01em;
}

h1, .h1, .header {
    font-size: 46px;
    font-size: calc(46px + 0.15vw);
    letter-spacing: -0.01em;
}

h2, .h2, .subheader {
    font-size: 34px;
    font-size: calc(34px + 0.15vw);
}

h3, .h3, .title {
    font-size: 24px;
    font-size: calc(24px + 0.15vw);
}

h4, .h4, .subtitle {
    font-size: 20px;
    font-size: calc(20px + 0.15vw);
}

body, .body, .base, p, h5, .h5, h6, .h6, input, div, span, li {
    font-size: 16px;
    font-size: calc(16px + 0.15vw);
}

.caption {
    font-size: 12px;
    font-size: calc(12px + 0.15vw);
}

.caption-alt {
    font-size: 10px;
    font-size: calc(10px + 0.15vw);
}

.subcaption {
    font-size: 8px;
    font-size: calc(8px + 0.15vw);
}

@media all and (min-width: $vp5) {
    .headline {
        font-size: 64px;
    }

    h1, .h1, .header {
        font-size: 48px;
    }

    h2, .h2, .subheader {
        font-size: 36px;
    }

    h3, .h3, .title {
        font-size: 26px;
    }

    h4, .h4, .subtitle {
        font-size: 22px;
    }

    body, .body, .base, p, h5, .h5, h6, .h6, input, div, span, li {
        font-size: 18px;
    }

    .caption {
        font-size: 14px;
    }

    .caption-alt {
        font-size: 12px;
    }

    .subcaption {
        font-size: 10px;
    }
}