/*! picchu.css v0.1 | Microsoftdotcom team | Github - url coming once ready to make public */

//------------------------------------
//              #IMPORTS
//------------------------------------
@import "src/Reset/normalize";
@import "src/Color/colors";
@import "src/Typography/typography";
@import "src/FormElements/buttons";
@import "src/FormElements/slider";
@import "src/Helpers/helpers";
@import "components/grid/src/sass/mscom-grid-mixed";





//------------------------------------
//              #GLOBALS
//------------------------------------
html {
    box-sizing: border-box;
    line-height: 1.4;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}