/*! picchu.css v0.1 | Microsoftdotcom team | Github - url coming once ready to make public */

//------------------------------------
//              #IMPORTS
//------------------------------------
@import "normalize";
@import "colors";
@import "typography";
@import "buttons";
@import "helpers";





//------------------------------------
//              #GLOBALS
//------------------------------------
html {
    box-sizing: border-box;
    line-height: 1.4;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}