//------------------------------------
//              #FONTS
//------------------------------------


// Function to remove none-strings and empty strings from a list
//
// @param {List} $list
//      List of values
//
// @return {List}

@function str-list($list) {
  $result: ();
  
  @each $item in $list {
    @if $item != ""
    and type-of($item) == string {
      $result: append($result, $item);
    }
  }
  
  @return $result;
}


// Mixin to output vertical spacing properties on elements
//
// @param {String} $property
//      Property to use, ex. 'margin', 'padding-bottom', etc
// @param {List} $vals...
//      List of variable arguments
//          - Strings corresponding to 'option' keys inside $spacing-list (ex. sp1)
//          - Optional String corresponding to 'size' keys inside $spacing-list (ex. large)
//
// @require {Mixin} vertical-properties

@mixin vertical-spacing($property, $vals...){
    $last: nth($vals, length($vals));

    @if $last == "small" or $last == "flex" or $last == "large" or $last == "static" {
        //remove last value passed in list, returns a new list
        $v: str-list(set-nth($vals, length($vals), ""));

        @if $last == "static" {
            //if a "static" option is passed in as the last value, use large size without responsive media queries
            @include vertical-properties($property, $v, large);
        } @else {
            //if a size option is passed in as the last value, use size without responsive media queries
            @include vertical-properties($property, $v, $last);
        }
    } @else {
        //default to responsive values
        @include vertical-properties($property, str-list($vals), small);

        @media all and (min-width: $vp2) {
           @include vertical-properties($property, str-list($vals), flex);
        }
        @media all and (min-width: $vp5) {
            @include vertical-properties($property, str-list($vals), large);
        }
    }
}


// Helper for vertical-spacing mixin to intelligently handle shorthand lists of values
//
// @param {String} $property
//      Property to use, ex. 'margin', 'padding-bottom', etc
// @param {List} $vals
//      List of Strings corresponding to 'option' keys inside $spacing-list (ex. sp1)
// @param {String} $prop_val
//      String corresponding to 'size' keys inside $spacing-list (ex. large)

@mixin vertical-properties($property, $vals, $prop_val){
    $i: str-index($property, "-");

    @if $i != null {
        $dir: str-slice($property, str-index($property, "-") + 1);
        @if $dir == "top" or $dir == "bottom" {
            #{$property}: map-get(map-get($spacing-list, nth($vals, 1)), $prop_val);
        }
    } @else {
        @if length($vals) == 1 {
            // Libsass 1.0.0 would not compile with this variable set
            // $val: map-get(map-get($spacing-list, nth($vals, 1)), $prop_val);
            #{$property}-top: map-get(map-get($spacing-list, nth($vals, 1)), $prop_val);
            #{$property}-bottom: map-get(map-get($spacing-list, nth($vals, 1)), $prop_val);
        } 
        @else if length($vals) == 2 {
            #{$property}-top: map-get(map-get($spacing-list, nth($vals, 1)), $prop_val);
            #{$property}-bottom: map-get(map-get($spacing-list, nth($vals, 2)), $prop_val);
        }
    }
}

// helper classes to apply vertical spacing to content containers (sections, divs, etc)
@each $val in $spacing-list {
    .padding-vertical-#{nth($val, 1)} {
        @include vertical-spacing(padding, nth($val, 1));
    }
    .padding-top-#{nth($val, 1)} {
        @include vertical-spacing(padding-top, nth($val, 1));
    }
    .padding-bottom-#{nth($val, 1)} {
        @include vertical-spacing(padding-bottom, nth($val, 1));
    }
    .margin-vertical-#{nth($val, 1)} {
        @include vertical-spacing(margin, nth($val, 1));
    }
    .margin-top-#{nth($val, 1)} {
        @include vertical-spacing(margin-top, nth($val, 1));
    }
    .margin-bottom-#{nth($val, 1)} {
        @include vertical-spacing(margin-bottom, nth($val, 1));
    }
}
.no-padding-vertical {
    @extend .no-padding-top;
    @extend .no-padding-bottom;
}
.no-margin-vertical {
    @extend .no-margin-top;
    @extend .no-margin-bottom;
}

// helper classes to apply vertical spacing by breakpoint
// manually set spacing inside media queries by passing additional ramp option to "vertical-spacing"
@media screen and (min-width: $vp1) {
    @each $val in $spacing-list {
        .xs-padding-vertical-#{nth($val, 1)} {
            @include vertical-spacing(padding, nth($val, 1), small);
        }
        .xs-padding-top-#{nth($val, 1)} {
            @include vertical-spacing(padding-top, nth($val, 1), small);
        }
        .xs-padding-bottom-#{nth($val, 1)} {
            @include vertical-spacing(padding-bottom, nth($val, 1), small);
        }
        .xs-margin-vertical-#{nth($val, 1)} {
            @include vertical-spacing(margin, nth($val, 1), small);
        }
        .xs-margin-top-#{nth($val, 1)} {
            @include vertical-spacing(margin-top, nth($val, 1), small);
        }
        .xs-margin-bottom-#{nth($val, 1)} {
            @include vertical-spacing(margin-bottom, nth($val, 1), small);
        }
    }
    .xs-no-padding-vertical,
    .xs-no-padding-top {
        padding-top: 0;
    }
    .xs-no-padding-vertical,
    .xs-no-padding-bottom {
        padding-bottom: 0;
    }
    .xs-no-margin-vertical,
    .xs-no-margin-top {
        margin-top: 0;
    }
    .xs-no-margin-vertical,
    .xs-no-margin-bottom {
        margin-bottom: 0;
    }
}
@media screen and (min-width: $vp2) {
    @each $val in $spacing-list {
        .s-padding-vertical-#{nth($val, 1)} {
            @include vertical-spacing(padding, nth($val, 1), flex);
        }
        .s-padding-top-#{nth($val, 1)} {
            @include vertical-spacing(padding-top, nth($val, 1), flex);
        }
        .s-padding-bottom-#{nth($val, 1)} {
            @include vertical-spacing(padding-bottom, nth($val, 1), flex);
        }
        .s-margin-vertical-#{nth($val, 1)} {
            @include vertical-spacing(margin, nth($val, 1), flex);
        }
        .s-margin-top-#{nth($val, 1)} {
            @include vertical-spacing(margin-top, nth($val, 1), flex);
        }
        .s-margin-bottom-#{nth($val, 1)} {
            @include vertical-spacing(margin-bottom, nth($val, 1), flex);
        }
    }
    .s-no-padding-vertical,
    .s-no-padding-top {
        padding-top: 0;
    }
    .s-no-padding-vertical,
    .s-no-padding-bottom {
        padding-bottom: 0;
    }
    .s-no-margin-vertical,
    .s-no-margin-top {
        margin-top: 0;
    }
    .s-no-margin-vertical,
    .s-no-margin-bottom {
        margin-bottom: 0;
    }
}
@media screen and (min-width: $vp3) {
    @each $val in $spacing-list {
        .m-padding-vertical-#{nth($val, 1)} {
            @include vertical-spacing(padding, nth($val, 1), flex);
        }
        .m-padding-top-#{nth($val, 1)} {
            @include vertical-spacing(padding-top, nth($val, 1), flex);
        }
        .m-padding-bottom-#{nth($val, 1)} {
            @include vertical-spacing(padding-bottom, nth($val, 1), flex);
        }
        .m-margin-vertical-#{nth($val, 1)} {
            @include vertical-spacing(margin, nth($val, 1), flex);
        }
        .m-margin-top-#{nth($val, 1)} {
            @include vertical-spacing(margin-top, nth($val, 1), flex);
        }
        .m-margin-bottom-#{nth($val, 1)} {
            @include vertical-spacing(margin-bottom, nth($val, 1), flex);
        }
    }
    .m-no-padding-vertical,
    .m-no-padding-top {
        padding-top: 0;
    }
    .m-no-padding-vertical,
    .m-no-padding-bottom {
        padding-bottom: 0;
    }
    .m-no-margin-vertical,
    .m-no-margin-top {
        margin-top: 0;
    }
    .m-no-margin-vertical,
    .m-no-margin-bottom {
        margin-bottom: 0;
    }
}
@media screen and (min-width: $vp4) {
    @each $val in $spacing-list {
        .l-padding-vertical-#{nth($val, 1)} {
            @include vertical-spacing(padding, nth($val, 1), flex);
        }
        .l-padding-top-#{nth($val, 1)} {
            @include vertical-spacing(padding-top, nth($val, 1), flex);
        }
        .l-padding-bottom-#{nth($val, 1)} {
            @include vertical-spacing(padding-bottom, nth($val, 1), flex);
        }
        .l-margin-vertical-#{nth($val, 1)} {
            @include vertical-spacing(margin, nth($val, 1), flex);
        }
        .l-margin-top-#{nth($val, 1)} {
            @include vertical-spacing(margin-top, nth($val, 1), flex);
        }
        .l-margin-bottom-#{nth($val, 1)} {
            @include vertical-spacing(margin-bottom, nth($val, 1), flex);
        }
    }
    .l-no-padding-vertical,
    .l-no-padding-top {
        padding-top: 0;
    }
    .l-no-padding-vertical,
    .l-no-padding-bottom {
        padding-bottom: 0;
    }
    .l-no-margin-vertical,
    .l-no-margin-top {
        margin-top: 0;
    }
    .l-no-margin-vertical,
    .l-no-margin-bottom {
        margin-bottom: 0;
    }
}
@media screen and (min-width: $vp5) {
    @each $val in $spacing-list {
        .xl-padding-vertical-#{nth($val, 1)} {
            @include vertical-spacing(padding, nth($val, 1), large);
        }
        .xl-padding-top-#{nth($val, 1)} {
            @include vertical-spacing(padding-top, nth($val, 1), large);
        }
        .xl-padding-bottom-#{nth($val, 1)} {
            @include vertical-spacing(padding-bottom, nth($val, 1), large);
        }
        .xl-margin-vertical-#{nth($val, 1)} {
            @include vertical-spacing(margin, nth($val, 1), large);
        }
        .xl-margin-top-#{nth($val, 1)} {
            @include vertical-spacing(margin-top, nth($val, 1), large);
        }
        .xl-margin-bottom-#{nth($val, 1)} {
            @include vertical-spacing(margin-bottom, nth($val, 1), large);
        }
    }
    .xl-no-padding-vertical,
    .xl-no-padding-top {
        padding-top: 0;
    }
    .xl-no-padding-vertical,
    .xl-no-padding-bottom {
        padding-bottom: 0;
    }
    .xl-no-margin-vertical,
    .xl-no-margin-top {
        margin-top: 0;
    }
    .xl-no-margin-vertical,
    .xl-no-margin-bottom {
        margin-bottom: 0;
    }
}

// define margin-bottom spacing for typographic elements
// placeholders used by mixins in Typogaphy/_typography.scss
%headline-spacing {
    margin-bottom: 0.33em;

    &.tight {
      margin-bottom: 0.165em;
    }
    &.loose {
      margin-bottom: 0.5em;
    }
    &.xloose {
      margin-bottom: 0.66em;
    }
}

%h1-spacing {
    margin-bottom: 0.4em;

    &.tight {
        margin-bottom: 0.2em;
    }
    &.loose {
        margin-bottom: 0.6em;
    }
    &.xloose {
        margin-bottom: 0.8em;
    }
}

%h2-spacing {
    margin-bottom: 0.5em;

    &.tight {
        margin-bottom: 0.25em;
    }
    &.loose {
        margin-bottom: 0.75em;
    }
    &.xloose {
        margin-bottom: 1em;
    }
}

%h3-spacing,
%h4-spacing {
    margin-bottom: 0.66em;

    &.tight {
        margin-bottom: 0.33em;
    }
    &.loose {
        margin-bottom: 1em;
    }
    &.xloose {
        margin-bottom: 1.32em;
    }
}

%h5-spacing {
    margin-bottom: 0.75em;

    &.tight {
        margin-bottom: 0.37em;
    }
    &.loose {
        margin-bottom: 1.13em;
    }
    &.xloose {
        margin-bottom: 1.5em;
    }
}

%body-spacing {
    margin-bottom: 1.25em;

    &.tight {
        margin-bottom: 0.65em;
    }
    &.loose {
        margin-bottom: 1.85em;
    }
    &.xloose {
        margin-bottom: 2.5em;
    }
}

%body-alt-spacing,
%caption-spacing,
%caption-alt-spacing {
    margin-bottom: 1.25em;

    &.tight {
        margin-bottom: 0.625em;
    }
    &.loose {
        margin-bottom: 1.875em;
    }
    &.xloose {
        margin-bottom: 2.5em;
    }
}

p, blockquote {
    @extend %body-spacing;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    &.body {
        @extend %body-spacing;
    }
    &.body-alt {
        @extend %body-alt-spacing;
    }
    &.caption {
        @extend %caption-spacing;
    }
    &.caption-alt {
        @extend %caption-alt-spacing;
    }
}

//buttons
button, .button, .#{$picchu-prefix}button {
    @extend %body-alt-spacing;
}

//links 
.cta-link {
    margin-bottom: 0.8em;

    &.tight {
        margin-bottom: 0.4em;
    }
    &.loose {
        margin-bottom: 1.2em;
    }
    &.xloose {
        margin-bottom: 1.6em;
    }
}

.cta-container {
    margin-bottom: 0;

    a, button, .button, .#{$picchu-prefix}button {
        margin-bottom: 0.8em;
    }
    &.tight {
        margin-bottom: 0;
        a, button, .button, .#{$picchu-prefix}button {
            margin-bottom: 0.4em;
        }
    }
    &.loose {
        margin-bottom: 0;
        a, button, .button, .#{$picchu-prefix}button {
            margin-bottom: 1.2em;
        }
    }
    &.xloose {
        margin-bottom: 0;
        a, button, .button, .#{$picchu-prefix}button {
            margin-bottom: 1.6em;
        }
    }
}

//lists
ul, ol {

  li {
    margin-bottom: 0.5em;
  }

  &.tight {
    li {
      margin-bottom: 0.25em;
    }
  }
  &.loose {
    li {
      margin-bottom: 0.75em;
    }
  }
  &.xloose {
    li {
      margin-bottom: 1em;
    }
  }
}