<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="https://cdn.rawgit.com/winjs/grid/master/dist/css/mscom-grid.css">
        <link rel="stylesheet" href="../../../dist/picchu.css">
        <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>

    </head>

    <body>

        <header role="banner" class="hero popout-text">
            <div class="hero-banner">

                <img class="hero-mobile-img" src="https://unsplash.it/800/550/" />

                <div class="hero-content-container" style="background-image: url('https://unsplash.it/1920/720/')">
                    <div class="hero-content-centered">
                        <div class="ms-grid">
                            <div class="ms-row">
                                <div class="m-col-12-24">
                                    <h1 class="header xloose">Do great things with the most productive devices on the planet.</h1>

                                    <a href="#" class="button">Learn More<span class="visually-hidden"> about the Surface Pro 4</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <header role="banner" class="hero inside-text">
            <div class="hero-banner">

                <img class="hero-mobile-img" src="https://unsplash.it/800/550/" />

                <div class="hero-content-container tac" style="background-image: url('https://unsplash.it/1920/720/')">
                    <div class="hero-content-centered">
                        <div class="ms-grid">
                            <div class="ms-row">
                                <div class="m-col-16-24 centered">
                                    <h1 class="header xloose">Do great things with the most productive devices on the planet.</h1>

                                    <a href="#" class="button">Learn More<span class="visually-hidden"> about the Surface Pro 4</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="../../../dist/picchu.js"></script>

    </body>

</html>