<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="https://cdn.rawgit.com/winjs/grid/master/dist/css/mscom-grid.css">
        <link rel="stylesheet" href="../../../dist/picchu.css">
        <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>

    </head>

    <body>

        <header role="banner" class="ms-hero popout-text">
            <div class="ms-hero-banner">

                <img class="ms-hero-mobile-img" src="https://unsplash.it/800/550/"/>

                <div class="ms-hero-content-container" style="background-image: url('https://unsplash.it/1920/720/')">
                    <div class="ms-hero-content-centered">
                        <div class="ms-grid">
                            <div class="ms-row">
                                <div class="m-col-12-24">
                                    <h1 class="header xloose">Do great things with the most productive devices on the planet.</h1>

                                    <a href="#" class="button">Learn More<span class="visually-hidden"> about the Surface Pro 4</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="ms-banner" style="background-image: url(https://unsplash.it/1920/720/);">
            <img src="https://unsplash.it/800/550" class="ms-banner-mobile-img" />
            <div class="ms-banner-content-container">
                <div class="ms-banner-table">
                    <div class="ms-banner-table-cell">
                        <div class="ms-grid">
                            <div class="ms-row">
                                <div class="col-1-2">
                                    <h2 class="headline no-margin-top">The ultimate laptop.</h2>
                                    <p>
                                        Surface Book transforms into three different configurations, adapting to the way that you work and the places where you create. It is built to be a creative workhorse, combining a 6th Gen Intel® Core™ i5 or i7 processor with up to 16GB of memory and an optional discrete graphics chip.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <header role="banner" class="ms-hero inside-text">
            <div class="ms-hero-banner">

                <img class="ms-hero-mobile-img" src="https://unsplash.it/800/550/" />

                <div class="ms-hero-content-container tac" style="background-image: url('https://unsplash.it/1920/720/')">
                    <div class="ms-hero-content-centered">
                        <div class="ms-grid">
                            <div class="ms-row">
                                <div class="m-col-16-24 centered">
                                    <h1 class="header xloose">Do great things with the most productive devices on the planet.</h1>

                                    <a href="#" class="button">Learn More<span class="visually-hidden"> about the Surface Pro 4</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <nav role="navigation" aria-label="Microsoft Navigation Menu">
            <div class="ms-grid">
                <ul class="ms-list-row row-of-3">
                    <li>
                        <a href="#">
                            <img class="ms-list-row-item-img" src="images/products/01.jpg" alt="Microsoft Surface" width="100" height="100"/>
                            <span class="isolated-link body-alt">Microsoft<br/> Accessories</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="ms-list-row-item-img" src="images/products/02.jpg" alt="Microsoft Surface" width="100" height="100"/>
                            <span class="isolated-link body-alt">Microsoft<br/> Surface Hub</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ms-list-row-item">
                            <img class="ms-list-row-item-img" src="images/products/03.jpg" alt="Microsoft HoloLens" width="100" height="100"/>
                            <span class="isolated-link body-alt">Microsoft<br/> HoloLens</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="ms-list-row-item-img" src="images/products/04.jpg" alt="Microsoft Surface" width="100" height="100"/>
                            <span class="isolated-link body-alt">Microsoft<br/> Surface</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="ms-list-row-item-img" src="images/products/05.jpg" alt="Xbox" width="100" height="100"/>
                            <span class="isolated-link body-alt">Xbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="ms-list-row-item-img" src="images/products/06.jpg" alt="Microsoft Lumia" width="100" height="100"/>
                            <span class="isolated-link body-alt">Microsoft<br/> Lumia</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="ms-mosaic ms-grid full zero-margin">
            <div class="ms-row">

                <div class="col-1-2">
                    <div class="ms-mosaic-tile">
                        <h2 class="header">Windows 10 is the best Windows ever.</h2>
                        <p>
                            It combines what people like most about Windows 7 and 8 with great new features. It has a familiar look and feel, plus innovations in security, personalization, and productivity that work great across your devices. The result is a fresh experience that’s quick to learn, easy to use, and great for doing the things that matter most to you.
                        </p>
                        <a href="#" class="button white-bgc">Learn more about Windows 10</a>
                    </div>

                    <div class="ms-mosaic-tile half-tile" style="background-image: url('https://unsplash.it/800/550/')">
                    </div>
                </div>

                <div class="col-1-2">
                    <div class="ms-mosaic-tile full-tile" style="background-image: url('https://unsplash.it/550/800/?random')"></div>
                </div>

            </div>

            <img class="ms-mosaic-mobile-img" src="https://unsplash.it/800/550/?random"/>
        </section>

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="../../../dist/picchu.js"></script>

    </body>

</html>