.ms-mosaic {
    overflow: hidden;

    .ms-mosaic-tile {
        @include vertical-spacing(padding, sp6);
        padding-left: 12px;
        padding-right: 12px;

        @media screen and (min-width: $vp2) {
            padding-left: 24px;
            padding-right: 24px;
        }

        @media screen and (min-width: $vp3) {
            padding-left: 10%;
            padding-right: 10%;
        }

        :last-child {
            margin-bottom: 0;
        }

        background-color: $theme-primary-color;
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.half-tile {
            display: none;

            @media screen and (min-width: $vp3) {
                display: block;
                min-height: 300px;
                height: 300px;
                height: 25vw;
            }
        }

        &.full-tile {
            display: none;

            @media screen and (min-width: $vp3) {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .ms-mosaic-mobile-img {
        width: 100%;
        height: auto;

        @media screen and (min-width: $vp3) {
            display: none;
        }
    }
}