//------------------------------------
//              #TYPOGRAPHY
//------------------------------------


// Typography Styles

.light {
    font-family: $light;
}

.semilight {
    font-family: $semilight;
}

.normal, .regular {
    font-family: $regular;
}

.semibold {
    font-family: $semibold;
}

b, .bold {
    font-family: $bold;
}

body {
    color: $text-color;
    text-rendering: optimizeLegibility;
    font-family: $regular;
    @extend %body-respond;
}

p, blockquote, input, div, span, li, select, button {
    font-family: $regular;
    @extend %body-respond;
}

p {
    line-height: 1.5;
}

a {
    font-size: inherit;
    font-family: $regular;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.headline {
    @include font-headline;
}

h1, .h1, .header {
    @include font-header;
}

h2, .h2, .subheader {
    @include font-subheader;
}

h3, .h3, .title {
    @include font-title;
}

h4, .h4, .subtitle {
    @include font-subtitle;
}

h5, .h5, h6, .h6 {
    @include font-sm-title;
}

.body {
    @include font-body;
}

.body-alt {
    @include font-body-alt;
}

.caption {
    @include font-caption;
}

.caption-alt {
    @include font-caption-alt;
}


// Non-Responsive Typography Styles

.static-typography {
    .headline {
        @extend %headline-static;
    }

    h1, .h1, .header {
       @extend %h1-static;
    }

    h2, .h2, .subheader {
        @extend %h2-static;
    }

    h3, .h3, .title {
        @extend %h3-static;
    }

    h4, .h4, .subtitle {
        @extend %h4-static;
    }

    h5, .h5, h6, .h6 {
        @extend %h5-static;
    }

    body, .body, p, h5, .h5, h6, .h6, input, div, span, li, select, button {
        @extend %body-static;
    }

    .body-alt {
        @extend %body-alt-static;
    }

    .caption {
        @extend %caption-static;
    }

    .caption-alt {
        @extend %caption-alt-static;
    }
}