.#{$picchu-prefix}product-feature,
.#{$picchu-prefix}product-family-feature {
	@include vertical-spacing(padding, sp6);

	.#{$picchu-prefix}-col {
		@include vertical-spacing(margin-bottom, sp5);

		@media screen and (min-width: $vp3) {
			margin-bottom: 0;
		}
	}

	:last-child {
		margin-bottom: 0;
	}
}

.#{$picchu-prefix}product-feature {
	img {
		width: 100%;
		height: auto;
		@include vertical-spacing(margin-bottom, sp1);
		display: block;
	}
}

.#{$picchu-prefix}product-family-feature {
	img {
		width: 100%;
		height: auto;
		@include vertical-spacing(margin-bottom, sp1);

		display: none;
		@media screen and (min-width: $vp3) {
			display: block;
		}
	}

	.#{$picchu-prefix}-col {
		img {
			display: block;
			@media screen and (min-width: $vp3) {
				display: none;
			}
		}
	}
}