$picchu-namespace: false !default;
$picchu-namespace-class: "picchu" !default;
$picchu-prefix: "ms-" !default;
$grid-prefix: "ms-" !default;

//Theme options
//Default color pallette
$theme-primary-color: #0078D7; //blue
$theme-link-color: $theme-primary-color;
$theme-button-color: $theme-primary-color;
$theme-form-element-color: $theme-primary-color;

//Grid breakpoints - aligning to the winjs grid breakpoints, used for responsive aspects of 
//this framework, can be changed to align to your breakpoints if different
$vp1: 320px;
$vp2: 540px;
$vp3: 768px;
$vp4: 1084px;
$vp5: 1400px;