/*! picchu.css v0.1 | Microsoftdotcom team | Github - url coming once ready to make public */

//------------------------------------
//              #IMPORTS
//------------------------------------
@import "config";
@import "Math/math";
@import "variables";
@import "Typography/fontface";

@mixin namespace-content {
	@if $picchu-namespace {

		// if namespaced flag is true,
		// wrap a namespace class around all styles
		.#{$picchu-namespace-class} {
			@content;
		}

	} @else {

		// otherwise just output styles without any namespace
		@content;

	}
}

@include namespace-content {
	@import "Reset/normalize";
	@import "Color/colors";
	@import "Spacing/spacing";
	@import "Typography/typography";
	@import "FormElements/buttons";
	@import "FormElements/formfields";
	@import "FormElements/checkboxes";
	@import "FormElements/slider";
	@import "Helpers/helpers";
}


//------------------------------------
//              #GLOBALS
//------------------------------------
html {
    box-sizing: border-box;
    line-height: 1.4;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}